<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.seckill.mapper.SeckillMapper">
    <select id="selectSeckills" resultType="Seckill">
        select * from seckill;
    </select>
    <select id="selectSeckillById" resultType="Seckill">
        select * from seckill where seckill_id=#{seckillId};
    </select>
    <update id="updateNumber">
        update seckill set number=number-1 where
        seckill_id=#{seckillId} and
        number &gt;0 and
        now() &lt; end_time and
        now() &gt; start_time;
    </update>
    <insert id="insertSuc">
        insert into success (seckill_id,user_phone,state,create_time)
        values (
        #{seckillId},#{userPhone},#{state},#{createTime}
        );
    </insert>
    <select id="selectSuccessesBySeckillId" resultType="Success">
        select * from success where seckill_id=#{seckillId};
    </select>
</mapper>