<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.user.mapper.UserMapper">
    <!--检查用户名是否重复-->
    <select id="selectCountByUserName" resultType="int">
        select count(*) from t_user where user_name=#{userName};
    </select>
    <!--注册一个用户数据-->
    <insert id="insertUser">
        insert into t_user (
		user_id,
		user_name,
		user_password,
		user_email,
		user_nickname,
		user_type) values(
		#{userId},
		#{userName},
		#{userPassword},
		#{userEmail},
		#{userNickname},
		#{userType})
    </insert>
	<!--登录查询-->
	<select id="selectUserByUserNameAndPassword" resultType="User">
		select * from t_user where user_name=#{userName}
		and user_password=#{userPassword}
	</select>
</mapper>